* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: auto 0;
	background-color: whitesmoke;
}
.main {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.content {
	height: 72vh;
	width: 100%;
}
.header-div {
	height: 28%;
}
#menu-header-div {
	width: 100%;
	display: flex;
}
.main-header-div {
	color: #1d1d1d;
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: flex-end;
}
.main-header-div-top {
	display: flex;
}
.title-div {
	padding: 2.5em 1em 0 2.5em;
	display: flex;
}
.title {
	margin: 0.05em;
	font-weight: 400;
	font-size: 2.4em;
}
.circle {
	margin-right: 0.5em;
	margin-left: 0.5em;
	width: 1.4em;
	height: 1.4em;
	border: 0.2em solid #297a4d;
	border-radius: 1.6em;
	margin-top: 0.8em;
}
.menu {
	font-size: 2.5em;
	font-weight: 300;
	color: #297a4d;
	margin-left: 0.75em;
	margin-bottom: 0.5em;
}
#shrunken-bar-menu {
	font-size: 1.7em;
}
.menu-list {
	list-style: none;
	padding: 0;
	padding-right: 0.7em;
	margin-left: 0.9em;
}
.side-nav-div {
	padding: 0;
	margin-top: 2.5em;
	width: fit-content;
	display: flex;
	flex-direction: column;
	border-right: black solid 0.15em;
}
.menu-list-item {
	padding: 0.4em 0.3em;
}
.menu-list-item:last-child {
	padding-bottom: 0;
}
.menu-list-item > a {
	text-decoration: none;
	color: #1d1d1d;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.menu-list-item > a:hover {
	color: #5d5d5d;
	border-bottom: 0.1em solid #5d5d5d;
}

/* @media screen and (max-width: 768px) {
	#menu-header-div {
		display: block;
	}
} */
