.welcome-div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1.5em 15em;
}
.bio-div {
	overflow: hidden;
}
.p-intro {
	color: #1d1d1d;
	font-size: 1.4em;
	display: flex;
	justify-content: center;
	text-align: justify;
	padding-top: 0.3em;
}
.paragraph-div {
	font-family: 'Karla';
}
.bio-paragraphs {
	font-weight: 400;
	letter-spacing: 0.003em;
	line-height: 1.3em;
}
.portfolio-text-link {
	color: #1d1d1d;
	text-underline-position: under;
	outline: none;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.portfolio-text-link:hover {
	color: #5d5d5d;
}
.global-class-name {
	position: relative;
	top: 0.17em;
	left: 0.1em;
}
.paragraph-bio:nth-child(2) {
	text-indent: 4em;
}
.circle-2 {
	margin-left: 0.1em;
	width: 1em;
	height: 1em;
	border: 0.1em solid #297a4d;
	border-radius: 1em;
	display: inline-block;
}
.hell {
	font-size: 3em;
	font-weight: 300;
	letter-spacing: 0.02em;
}
.circle-span {
	position: relative;
	top: 0.035em;
}
.skills-div {
	display: flex;
	flex-direction: column;
	margin-bottom: 3em;
}
.skills-list {
	font-size: 0.9em;
	font-family: 'Karla';
}
.skills-list > li {
	padding: 0.1em;
}
.skills-list > li:last-child {
	margin-right: 0;
}
.icon-span {
	color: #297a4d;
	font-size: 0.9em;
	padding: 1em 1em 0 0;
}
.skill-span {
	position: relative;
	bottom: 3px;
}

/* for larger screens */
@media only screen and (min-width: 1250px) {
	.welcome-div {
		padding: 0 24em;
	}
}

/* tablets */

@media screen and (max-width: 768px) and (orientation: portrait) {
	.welcome-div {
		padding: 0;
		margin-top: 0.5em;
	}
	.hell {
		font-size: 2em;
	}
	.p-intro {
		margin: 1em 3.5em;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	.welcome-div {
		padding: 0;
	}
	.p-intro {
		margin: 0 10em;
	}
}

/* mobile */

@media screen and (max-width: 414px) and (orientation: portrait) {
	.welcome-div {
		padding: 0;
		margin-top: 2em;
	}
	.p-intro {
		font-size: 1.4em;
		margin: 0.5em 0.3em;
		padding: 1em;
		text-align: left;
	}
	.skills-div {
		display: inline;
		margin-top: 2.8em;
	}
	.skills-list {
		font-size: 1em;
	}
}

@media screen and (max-width: 823px) and (orientation: landscape) {
	.welcome-div {
		padding: 0;
	}
	.p-intro {
		margin: 0 5em;
		font-size: 1.2em;
	}
	.skills-div > ul {
		font-size: 1.1em;
	}
	.paragraph-bio:first-child {
		text-align: center;
	}
}
