.welcome-div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
}
.p-intro {
	color: #1d1d1d;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 20%;
}
.h2-div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
}
.welcome-h2 {
	font-size: 7em;
	font-weight: 100;
	color: #297a4d;
}
.skills-div {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 30%;
}
.skills-list {
	color: #297a4d;
	padding: 1em;
	font-size: 1.8em;
}
.skills-list > li {
	display: inline-block;
	margin-right: 2em;
}
