.welcome-div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.p-intro {
	color: #1d1d1d;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	height: 66%;
	margin: 0 10em;
	text-align: justify;
}
.portfolio-text-link {
	color: #1d1d1d;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	display: inline-block;
}
.portfolio-text-link:hover {
	color: #5d5d5d;
	transform: scale(1.05, 1.05);
	margin: 0 0.2em 0 0.2em;
}
.global-class-name {
	position: relative;
	top: 0.17em;
	left: 0.1em;
}
.h2-div {
	display: flex;
	justify-content: center;
	height: 24%;
}
.welcome-h2 {
	font-size: 5.5em;
	color: #297a4d;
	padding-bottom: 0.3em;
}
.skills-div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15%;
}
.skills-list {
	color: #297a4d;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
}
.skills-list > li {
	display: inline-block;
	margin-right: 2em;
}
.skills-list > li:last-child {
	margin-right: 0;
}

/* for larger screens */
@media only screen and (min-width: 1200px) {
	.p-intro {
		margin: 0 15em;
	}
}

/* tablets */

@media screen and (max-width: 768px) and (orientation: portrait) {
	.skills-list > li {
		width: 25%;
	}
	.h2-div {
		align-items: center;
	}
	.p-intro {
		margin: 0 7em;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	.p-intro {
		margin: 0 10em;
	}
}

/* mobile */

@media screen and (max-width: 414px) and (orientation: portrait) {
	.h2-div {
		align-items: flex-start;
		padding-top: 0.5em;
	}
	.welcome-h2 {
		font-size: 4em;
	}
	.p-intro {
		margin: 0 0.2em 0 0.2em;
		font-size: 1.4em;
		margin: 0.5em 0.3em;
	}
	.skills-div {
		display: inline;
		margin-top: 2.8em;
	}
	.skills-list {
		font-size: 1.2em;
	}
	.skills-list > li {
		margin-right: 0.7em;
		width: auto;
	}
	.skills-list > li:last-child {
		margin-right: 0.5em;
	}
	.skills-list > li:first-child {
		margin-left: 0.5em;
	}
}

@media screen and (max-width: 823px) and (orientation: landscape) {
	.h2-div {
		align-items: center;
		padding: 1em 0;
		font-size: 0.7em;
	}
	.p-intro {
		margin: 0 5em;
		font-size: 1.2em;
	}
	.skills-div {
		margin: 3em 0;
	}
	.skills-div > ul {
		font-size: 1.2em;
	}
}
