#portfolio-div {
	position: absolute;
	overflow: hidden;
	top: 0;
}
.nail-div {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1.5em 0 1em 0;
	width: 100%;
	flex-wrap: wrap;
}
.thumbnail-div {
	display: flex;
	width: 10%;
	height: auto;
	margin: 2.5em;
	transition: transform ease-in 0.1s;
}
.thumbnail-img {
	height: auto;
	width: 100%;
}
.thumbnail-div:hover {
	transform: scale(1.04);
}
.project-link-img:hover {
	transform: scale(1.1);
}
.project-link-div {
	position: fixed;
	top: 13.8%;
	right: 11.5%;
}
.project-link-img {
	height: 30px;
	width: auto;
	transition: transform ease-in 0.1s;
}
.click-prompt-div {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 2em;
}
.click-prompt-h3 {
	font-size: 1.5em;
}
.close-button {
	position: fixed;
	top: 13%;
	right: 5%;
	height: 50px;
	width: 50px;
	color: #1d1d1d;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	transition: transform ease-in 0.1s;
}
.close-button:hover {
	transform: scale(1.1);
}

/* mobile  */
/* @media screen and (max-width: 414px) and (orientation: portrait) */
/* @media screen and (max-width: 823px) and (orientation: landscape)  */

@media screen and (max-width: 414px) and (orientation: portrait) {
	.project-link-div {
		top: 20.5%;
		right: 20%;
	}
	.close-button {
		top: 20%;
		right: 5%;
		height: 40px;
		width: 40px;
	}
	.click-prompt-h3 {
		font-size: 1.3em;
	}
	.thumbnail-div {
		width: 15%;
		height: auto;
	}
}

/* tablets */
/* @media screen and (max-width: 768px) and (orientation: portrait) */
/* @media screen and (max-width: 1024px) and (orientation: landscape)  */

@media screen and (max-width: 1024px) and (orientation: landscape) {
	.project-link-div {
		top: 12%;
		right: 12%;
	}
	.close-button {
		top: 11%;
		right: 5%;
	}
}
