#slider-div {
	position: absolute;
	overflow: hidden;
	top: 0;
}
.nail-div {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1.5em 0 1em 0;
	width: 100%;
	flex-wrap: wrap;
}
.thumbnail-div {
	display: flex;
	width: 15%;
	margin: 2.5em;
}
.thumbnail-img {
	height: auto;
	width: 100%;
}
.thumbnail-div:hover {
	transform: scale(1.3);
}
/* .project-link-div:hover {
	transform: scale(1.2);
} */
.project-link-div {
	position: relative;
	top: 2%;
	left: 0.9em;
}
.project-link-img {
	height: 50px;
	width: auto;
}
.click-prompt-div {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 5em;
}
.close-button {
	position: relative;
	bottom: 8%;
	/* left: 1.9em; */
	height: 50px;
	width: 50px;
	color: #1d1d1d;
	background-color: white;
	border-radius: 50%;
}
