#slider-div {
	position: absolute;
	overflow: hidden;
	top: 0;
}
.nail-div {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1.5em 0 1em 0;
	width: 100%;
	flex-wrap: wrap;
}
.thumbnail-div {
	display: flex;
	width: 15%;
	margin: 2.5em;
}
.thumbnail-img {
	height: auto;
	width: 100%;
}
.thumbnail-div:hover {
	transform: scale(1.3);
}
/* .project-link-div:hover {
	transform: scale(1.2);
} */
/* .project-link-div {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
} */
.project-link-img {
	height: auto;
	width: 1em;
	margin-left: 0.5em;
}
.click-prompt-div {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 5em;
}
